.home,
.client,
.question {
  min-height: 100vh;
}

.home {
  display: grid;
  grid-template-rows: 62vh 3vh 1fr;
  grid-template-areas:
    "banner"
    "notice"
    "new";
}

.banner {
  grid-area: banner;
  background-color: var(--color-background-dark);
  position: relative;
  overflow: hidden;
}
.bBottom,
.bTop {
  inset: 0;
  background-size: auto 100%;
}
.bBottom,
.bTop,
.laptop,
.phone {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.bBottom {
  background-image: url("/banner-bottom.webp");
  z-index: 1;
}

.bTop {
  background-image: url("/banner-top.webp");
  z-index: 2;
}

.laptop,
.phone {
  background-size: 100% auto;
}
.laptop {
  background-image: url("/laptop.webp");
  z-index: 3;
  left: 40vw;
  top: calc(50% - 65px);
  width: 40vh;
  height: 40vh;
}
.phone {
  background-image: url("/phone.webp");
  z-index: 4;
  left: 66%;
  top: 39%;
  width: 7vh;
  height: 17vh;
}
.catalogBtn {
  position: absolute;
  z-index: 5;
  left: calc(50% - 185px);
  top: 70%;
  box-shadow: 0 0.5rem 1rem 0.5rem var(--color-secondary);
  border-radius: var(--button-radius);
  button {
    margin: 0;
  }
}
.notice {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-primary);
  box-shadow: var(--bottom-shadow);
}

.group {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
}

.group p {
  white-space: nowrap;
  margin: 0;
  color: var(--color-background-light);
  font-size: var(--caption-fz);
}

.new {
  grid-area: new;
}

.client {
  display: flex;
  align-items: end;
  height: 100vh;
  overflow: hidden;
}

.clientSlider,
.track {
  display: flex;
}

.clientSlider {
  height: calc(100vh - var(--menu-height) - 20px);
  align-items: center;
  width: 100%;
}

.viewClient,
.formClient {
  width: 100vw;
  flex: 0 0 100vw;
}

.viewClient {
  background-image: url("/main-clients.webp");
  background-size: auto 25%;
  height: 100vh;
  gap: 2rem;
  padding: 10px;
}

.viewClient,
.formClient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.viewClient p,
.viewClient h1,
.formClient > p:first-child {
  color: var(--color-background-light);
  text-align: center;
  max-width: 800px;
}

.viewClient h1 {
  font-family: var(--global-font);
  font-size: var(--head-m-fz);
}
.formContainerWrap {
  display: grid;
  gap: 1.5rem;
  height: auto;
  grid-template-rows: repeat(2, auto) 1fr 50px;
}
.formClient {
  gap: 1rem;
  padding: 0 var(--modal-padding);
}

.modalWrap {
  width: 65%;
  min-width: 319px;
  max-width: 800px;
}

.personalData,
.companyData,
.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttonZone {
  display: flex;
  align-items: center;
  justify-content: end;
}
.QASection {
  background: var(--color-navigation);
  background: linear-gradient(
    150deg,
    var(--color-navigation) 0%,
    var(--color-background) 58%
  );
  /*
  background: linear-gradient(
    1deg,
    var(--color-navigation) 0%,
    var(--color-background) 20%,
    var(--color-background) 60%,
    var(--color-navigation) 100%
  );*/
  h1 {
    color: var(--color-background-dark);
  }
}
@media (min-width: 700px), (orientation: landscape) {
  .viewClient {
    background-size: 100% auto;
  }
  .laptop {
    left: 55vw;
  }
}
